@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
.red {
  background: #F44336;
  color: #fff; }
  .red.btn:hover, .red.nav a:hover {
    background: #ea1c0d; }

.purple {
  background: #673AB7;
  color: #fff; }
  .purple.btn:hover, .purple.nav a:hover {
    background: #8259cb; }

.blue {
  background: #2196F3;
  color: #fff; }
  .blue.btn:hover, .blue.nav a:hover {
    background: #0c7cd5; }

.teal {
  background: #009688;
  color: #fff; }
  .teal.btn:hover, .teal.nav a:hover {
    background: #00c9b6; }

.green {
  background: #43A047;
  color: #fff; }
  .green.btn:hover, .green.nav a:hover {
    background: #5bbb60; }

.yellow {
  background: #FFEB3B;
  color: #444; }
  .yellow.btn:hover, .yellow.nav a:hover {
    background: #ffe608; }

.orange {
  background: #FF5722;
  color: #fff; }
  .orange.btn:hover, .orange.nav a:hover {
    background: #ee3900; }

.black {
  background: #000;
  color: #fff; }
  .black.btn:hover, .black.nav a:hover {
    background: #1a1a1a; }

.grey, .gray {
  background: #757575;
  color: #fff; }
  .grey.btn:hover, .grey.nav a:hover, .gray.btn:hover, .gray.nav a:hover {
    background: #8f8f8f; }

.coal {
  background: #424242;
  color: #fff; }
  .coal.btn:hover, .coal.nav a:hover {
    background: #5c5c5c; }

.light-grey, .light-gray {
  background: #E6E6E6;
  color: #000; }
  .light-grey.btn:hover, .light-grey.nav a:hover, .light-gray.btn:hover, .light-gray.nav a:hover {
    background: #cdcdcd; }

.white {
  background: #FFF;
  color: #000; }
  .white.btn:hover, .white.nav a:hover {
    background: #e6e6e6; }

.shadow {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 1; }
  .shadow.force ~ * {
    z-index: -1; }

body {
  margin: 0; }

/*
    .bin
    the container that puts appropriate margins on things
*/
.bin {
  margin: 0px auto;
  width: 1344px; }
  @media (max-width: 1384px) {
    .bin {
      width: 960px; } }
  @media (max-width: 1000px) {
    .bin {
      width: auto;
      margin: 0px 20px; } }

/*
    .hero + .short || .reg || .tall || .full || .img || .img-dark
    a section for headers
    .hero > .top || .mid || .bottom
*/
.hero {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column; }
  .hero > .bin {
    min-height: inherit;
    display: flex; }
  .hero.img, .hero.img-dark {
    background-position: center;
    background-size: cover;
    color: #fff; }
    .hero.img > *, .hero.img-dark > * {
      z-index: 2; }
  .hero.img-dark::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    content: ''; }
  .hero .top, .hero .bottom {
    flex: 0 0; }
  .hero .mid {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .hero.short {
    min-height: 200px !important; }
  .hero.reg {
    min-height: 400px !important; }
  .hero.tall {
    min-height: 600px !important; }
  .hero.full {
    min-height: 100vh !important; }

/*
    .carton
*/
.carton {
  display: flex;
  flex-wrap: wrap; }

/*
    .egg-[ 1 <= n <= 12 || fifth]
    Where n represent a n/12 proportion of the width
    fifth = 1/5 of the width
    goes in a .carton
*/
.egg-12, .egg-full {
  display: inline-block;
  width: 99.99%; }
  @media (max-width: 640px) {
    .egg-12, .egg-full {
      width: 99.99%; } }

.egg-11 {
  display: inline-block;
  width: 91.66%; }
  @media (max-width: 640px) {
    .egg-11 {
      width: 99.99%; } }

.egg-10 {
  display: inline-block;
  width: 83.33%; }
  @media (max-width: 640px) {
    .egg-10 {
      width: 99.99%; } }

.egg-9, .egg-three-quarters {
  display: inline-block;
  width: 74.99%; }
  @media (max-width: 640px) {
    .egg-9, .egg-three-quarters {
      width: 99.99%; } }

.egg-8, .egg-two-thirds {
  display: inline-block;
  width: 66.66%; }
  @media (max-width: 640px) {
    .egg-8, .egg-two-thirds {
      width: 99.99%; } }

.egg-7 {
  display: inline-block;
  width: 58.33%; }
  @media (max-width: 640px) {
    .egg-7 {
      width: 99.99%; } }

.egg-6, .egg-half {
  display: inline-block;
  width: 49.99%; }
  @media (max-width: 640px) {
    .egg-6, .egg-half {
      width: 99.99%; } }

.egg-5 {
  display: inline-block;
  width: 41.66%; }
  @media (max-width: 640px) {
    .egg-5 {
      width: 99.99%; } }

.egg-4, .egg-third {
  display: inline-block;
  width: 33.33%; }
  @media (max-width: 640px) {
    .egg-4, .egg-third {
      width: 99.99%; } }

.egg-3, .egg-quarter {
  display: inline-block;
  width: 24.99%; }
  @media (max-width: 640px) {
    .egg-3, .egg-quarter {
      width: 99.99%; } }

.egg-fifth {
  display: inline-block;
  width: 19.99%; }
  @media (max-width: 640px) {
    .egg-fifth {
      width: 99.99%; } }

.egg-2, .egg-sixth {
  display: inline-block;
  width: 16.66%; }
  @media (max-width: 640px) {
    .egg-2, .egg-sixth {
      width: 99.99%; } }

.egg-1, .egg-tweflth {
  display: inline-block;
  width: 8.33%; }
  @media (max-width: 640px) {
    .egg-1, .egg-tweflth {
      width: 99.99%; } }

/*
    .shell
    gives a little margin and padding
    goes .egg > .shell, because that makes sense
*/
.shell {
  margin: 2px;
  padding: 4px 6px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; }

.nav {
  display: flex;
  justify-content: flex-start; }
  .nav.sticky {
    position: fixed;
    width: 100%; }
  .nav > .bin {
    display: inherit;
    justify-content: inherit;
    flex-direction: inherit; }
  .nav.center {
    justify-content: center; }
  .nav.right {
    justify-content: flex-end; }
  .nav.stretch-fill a {
    flex-grow: 1; }
  .nav a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    min-width: 80px;
    padding: 0px 12px;
    text-align: center;
    position: relative; }
  .nav span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    text-decoration: none;
    color: inherit;
    min-width: 80px;
    padding: 0px 12px;
    text-align: center;
    position: relative; }
  .nav img {
    max-height: calc(100% - 4px); }
  @media (max-width: 1000px) {
    .nav.stack-at-tablet {
      flex-direction: column; }
      .nav.stack-at-tablet > .bin {
        margin: 0; }
      .nav.stack-at-tablet a {
        display: flex;
        height: 32px; } }
  @media (max-width: 640px) {
    .nav {
      flex-direction: column; }
      .nav > .bin {
        margin: 0; }
      .nav a {
        display: flex;
        height: 32px; } }

code, .inline-code {
  font-family: monospace;
  background: #E6E6E6;
  color: #000;
  border-radius: 4px;
  padding: 0px 2px; }
  code.dark, .inline-code.dark {
    background: #424242;
    color: #FFF; }
  code.light, .inline-code.light {
    background: #FFF;
    color: #000; }

.code {
  font-family: monospace;
  background: #E6E6E6;
  color: #000;
  border-radius: 4px;
  white-space: pre-wrap;
  padding: 8px; }
  .code.dark {
    background: #424242;
    color: #FFF; }
  .code.light {
    background: #FFF;
    color: #000; }

/*# sourceMappingURL=lamework.css.map */
