// Layouts


body {
    margin: 0;
}

/*
    .bin
    the container that puts appropriate margins on things
*/
.bin {
    margin: 0px auto;
    width: 1344px;
    @include use-at(desktop) {
        width: 960px;
    };
    @include use-at(tablet) {
        width: auto;
        margin: 0px 20px;
    };
}


/*
    .hero + .short || .reg || .tall || .full || .img || .img-dark
    a section for headers
    .hero > .top || .mid || .bottom
*/
.hero {
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: column;

    & > .bin {
        min-height: inherit;
        display: flex;
    }

    &.img, &.img-dark {
        background-position: center;
        background-size: cover;
        color: #fff;
        & > * {
            z-index: 2;
        }
    }
    &.img-dark::after {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: $shadow;
        content: '';
    }

    .top, .bottom {
        flex: 0 0;
    }

    .mid {
        flex: 1 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &.short {
        min-height: 200px !important;
    }
    &.reg {
        min-height: 400px !important;
    }
    &.tall {
        min-height: 600px !important;
    }
    &.full {
        min-height: 100vh !important;
    }
}

/*
    .carton
*/
.carton {
    display: flex;
    flex-wrap: wrap;
}

/*
    .egg-[ 1 <= n <= 12 || fifth]
    Where n represent a n/12 proportion of the width
    fifth = 1/5 of the width
    goes in a .carton
*/
@mixin egg($width) {
    display: inline-block;
    width: $width;
    @include use-at(phone) {
        width: 99.99%;
    }
}

.egg-12, .egg-full {
    @include egg(99.99%);
}

.egg-11 {
    @include egg(91.66%);
}

.egg-10 {
    @include egg(83.33%);
}

.egg-9, .egg-three-quarters {
    @include egg(74.99%);
}

.egg-8, .egg-two-thirds {
    @include egg(66.66%);
}

.egg-7 {
    @include egg(58.33%);
}

.egg-6, .egg-half {
    @include egg(49.99%);
}

.egg-5 {
    @include egg(41.66%);
}

.egg-4, .egg-third {
    @include egg(33.33%);
}

.egg-3, .egg-quarter {
    @include egg(24.99%);
}

.egg-fifth {
    @include egg(19.99%);
}

.egg-2, .egg-sixth {
    @include egg(16.66%);
}

.egg-1, .egg-tweflth {
    @include egg(8.33%);
}

/*
    .shell
    gives a little margin and padding
    goes .egg > .shell, because that makes sense
*/
.shell {
    margin: 2px;
    padding: 4px 6px;
}
